.composer-counter {
  display: inline-block;
  position: absolute;
  right: 0.4em;
  bottom: 0.25em;
  color: var(--primary-low-mid);
  font-size: var(--font-down-1);

  &.more-required {
    color: var(--danger);
  }
}

.title-input {
  .composer-counter {
    bottom: 0.7em;
    color: var(--primary-low-mid);

    &.more-required {
      color: var(--danger);
    }
  }
}
