.composer-counter {
  display: inline-block;
  position: absolute;
  right: 0.4em;
  bottom: 0.25em;
  color: var(--primary-low-mid);
  font-size: var(--font-down-1);

  &.more-required {
    color: var(--danger);
  }
}

.title-input {
  input {
    padding-right: 4.5em;
  }

  .composer-counter {
    top: 0;
    right: 0.6em;
    bottom: auto;
    height: 100%;
    line-height: 100%;
    display: flex;
    align-items: center;
    transform: none;
    pointer-events: none;
    color: var(--primary-low-mid);

    &.more-required {
      color: var(--danger);
    }
  }
}
